/* baku89. "settings". glisp. https://scrapbox.io/glisp/settings , (accessdate=2024-09-20) より、一部を改変 */

body {
  --terminal-ansiRed: #cd3232;
  --terminal-ansiGreen: #00bc00;
  --terminal-ansiYellow: #a5a900;
  --terminal-ansiBlue: #0752a8;
  --terminal-ansiMagenta: #bc05bc;
  --terminal-ansiCyan: #0598bc;
  --terminal-ansiBrightBlack: #5e5e5e;
}

code.highlight .hljs-title,
code.highlight .hljs-section,
code.highlight .hljs-name,
code.highlight .hljs-selector-id,
code.highlight .hljs-selector-class {
  color: var(--terminal-ansiCyan);
}

code.highlight .hljs-symbol,
code.highlight .hljs-bullet,
code.highlight .hljs-subst,
code.highlight .hljs-meta,
code.highlight .hljs-meta .hljs-keyword,
code.highlight .hljs-selector-attr,
code.highlight .hljs-selector-pseudo,
code.highlight .hljs-link {
  color: var(--terminal-ansiRed);
}

code.highlight .hljs-number,
code.highlight .hljs-string,
code.highlight .hljs-meta .hljs-meta-string,
code.highlight .hljs-literal,
code.highlight .hljs-doctag,
code.highlight .hljs-regexp {
  color: var(--terminal-ansiYellow);
}

code.highlight .hljs-attribute,
code.highlight .hljs-attr,
code.highlight .hljs-variable,
code.highlight .hljs-template-variable,
code.highlight .hljs-class .hljs-title,
code.highlight .hljs-type {
  color: var(--terminal-ansiGreen);
}

code.highlight .hljs-keyword,
code.highlight .hljs-selector-tag,
code.highlight .hljs-addition {
  color: var(--terminal-ansiMagenta);
}

code.highlight .hljs-built_in,
code.highlight .hljs-deletion {
  color: var(--terminal-ansiBlue);
}

code.highlight .hljs-comment,
code.highlight .hljs-quote {
  color: var(--terminal-ansiBrightBlack);
}
